<footer class="footer bg-dark rounded-top">
  <div class="container py-2">
    <div class="row">
      <div class="col-md-4">
        <ul class="text-white">
          <li>Opion 1</li>
          <li>Opion 2</li>

        </ul>
      </div>
      <div class="col-md-4">
        <ul class="text-white">
          <li>Opion 6</li>
          <li>Opion 7</li>
          <li>Opion 8</li>
          <li>Opion 6</li>

        </ul>
      </div>
      <div class="col-md-4">
        <ul class="text-white">
          <li>Opion 1</li>
          <li>Opion 1</li>
          <li>Opion 1</li>
        </ul>
      </div>
      <div class="col-md-12">
        <p class="author-text text-white my-2">
          &copy; {{autor.nombre+' '+autor.apellido}}
        </p>
      </div>
    </div>
  </div>

</footer>
