<div class="abrir-modal animacion fade-in" *ngIf="modalService.modal">

  <div class="modal" tabindex="-1" role="dialog" style="display: block;" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{titluloForm}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <ul class="list-group text-dark mb-3" *ngIf="cliente">
                  <li class="list-group-item" active>
                    Nombre: {{cliente.nombre}}
                  </li>
                  <li class="list-group-item">
                    Apellido: {{cliente.apellido}}
                  </li>
                  <li class="list-group-item">
                    Email: {{cliente.email}}
                  </li>
                  <li class="list-group-item">
                    Creado el dia {{cliente.createdAt | date:"fullDate"}}
                  </li>
                  <li class="list-group-item">
                    Region: {{cliente.region.nombre}}
                  </li>
                </ul>
                <div class="input-group" *ngIf="authService.hasRole('ROLE_ADMIN')">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" (change)="seleccionarFoto($event.target)" id="archivo"
                      aria-describedby="btn-archivo">
                    <label class="custom-file-label" for="archivo">Selecciona un archivo</label>
                  </div>
                  <div class="input-group-append" >
                    <button class="btn btn-outline-secondary" (click)="subirFoto()" type="button"
                      [disabled]="!this.foto" id="btn-archivo">Subir</button>
                  </div>
                </div>
                <div class="progress" *ngIf="progreso > 0">
                  <!--Concatenamos el estilo dinamico en un [ngStyle]-->
                  <!--Cuando se necesita manejar un atributo de html en angular se debe agregar attr. como prefijo-->
                  <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width: progreso+'%'}"
                    attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">{{progreso}}%</div>
                </div>
              </div>
              <div class="col-sm">
                <!--Primero evaluamos que el cliente exista y luego que exista la foto-->
                <img *ngIf="cliente?.foto" src="{{urlBackend}}/api/uploads/img/{{cliente?.foto}}"
                  alt="{{cliente?.foto}}" class="img-thumbnail rounded" />
                  <p *ngIf="this.foto?.name"><strong>Foto nueva:</strong> {{this.foto?.name}}</p>
              </div>

            </div>
            <div class="row">
              <table *ngIf="cliente && cliente.facturas && cliente.facturas.length && cliente.facturas.length >0" 
              class="table table-bordered table-striped my-4">
                <thead>
                  <tr>
                    <th>Folio</th>
                    <th>Descripcion</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let factura of cliente?.facturas">
                    <td>{{factura.id}}</td>
                    <td>{{factura.descripcion}}</td>
                    <td>{{factura.createdAt | date:"dd/MM/yyyy"}}</td>
                    <td i18n="en-EN">{{factura.total| currency: 'USD' | lowercase }}</td>
                    <td>
                      <button class="btn btn-primary btn-sm"
                      [routerLink]="['/facturas/',factura.id]">ver</button>&nbsp;
                      <button class="btn btn-danger btn-sm"
                      (click)="eliminarFactura(factura)">Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="cliente && cliente.facturas && cliente.facturas.length==0 " 
              class="alert alert-info my-4 col-12">
                El cliente no tiene facturas
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" 
          data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Esta parte comentada funciona para trabajar con rutas 
    Todas las marcas de comentarios <!-- marcadas con el text elim
    deben eliminarse si se desea emplementar este medio en otro desarrollo
-->
<!-- elim
<div class="text-white card bg-dark my-2">
  <div class="card-header">
    <h2>{{titluloForm}}</h2>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <ul class="list-group text-dark mb-3" *ngIf="cliente">
            <li class="list-group-item" active>
              Nombre: {{cliente.nombre}}
            </li>
            <li class="list-group-item">
              Apellido: {{cliente.apellido}}
            </li>
            <li class="list-group-item">
              Email: {{cliente.email}}
            </li>
            <li class="list-group-item">
              Creado el dia {{cliente.createdAt | date:"fullDate"}}
            </li>
          </ul>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" 
              (change)="seleccionarFoto($event.target)" id="archivo"
              aria-describedby="btn-archivo">
              <label class="custom-file-label" for="archivo">Selecciona un archivo</label>
            </div>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" 
              (click)="subirFoto()" type="button" 
              [disabled]="!this.foto"
              id="btn-archivo">Subir</button>
            </div>
          </div>
        
          <div class="progress" *ngIf="progreso > 0">
            <!--Concatenamos el estilo dinamico en un [ngStyle]-->
<!--Cuando se necesita manejar un atributo de html en angular se debe agregar attr. como prefijo-->
<!-- elim <div class="progress-bar progress-bar-striped" role="progressbar" 
            [ngStyle]="{width: progreso+'%'}" attr.aria-valuenow="{{progreso}}" 
            aria-valuemin="0" aria-valuemax="100">{{progreso}}%</div>
          </div>
        </div>
        <div class="col-sm">
          <!--Primero evaluamos que el cliente exista y luego que exista la foto-->
<!-- elim <img *ngIf="cliente?.foto" src="http://localhost:8081/api/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}"
              class="img-thumbnail rounded"/>
        </div>

      </div>
    </div>
  </div>
</div> elim -->